
body {
    background-color: rgb(252, 178, 149);
}

.container {
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;
    height: 100%;
    width:100%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20%;
}

.container_start {
    display:flex;
    flex-wrap: nowrap;
    flex-direction:row;
    justify-content:space-between;
    margin-left: 2%;
    margin-right: 2%;

}

.level-header_score {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}


.title {
    display: block;
    position: relative;
    letter-spacing:10px;
    font-family: 'Staatliches', cursive;
    font-size:70px;
    text-align: center;
}

.score {
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
}

.title-start {
    display: block;
    position: relative;
    letter-spacing:1px;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
}

.button {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    animation: 2s linear infinite blink;
    
}

a {
    text-decoration: none;
    color: black;
}

@keyframes blink {
    0%,
    100% {
        opacity:1;
    }

    50% {
        opacity: 0;
    }
}

.homepage main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Code for the second JS <start.js> */


.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    min-width: 600px;
    max-height: 600px;
    max-width: 600px;
    margin-left: 30%;
}

.empty-space {
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 5px;
    max-height: 200px;
    max-width: 150px;
}

.modal {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index:1;
    overflow: auto;
    display:none;
}

.modal-message {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
    height: 200px;
    width: 450px;
    border-radius: 2px;
    margin:150px auto;
    box-shadow: 0 2px 2 px rgba(0,0,0,0.2);
    padding: 2%;
}

.modal-title {
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
}


#restart{
    border:none;
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
    animation: 2s linear infinite blink; 
    
}